<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= titulo %> </title>
    <link rel="icon" type="image/png" href="/media/icono.png" >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="css/login.css" rel="stylesheet">
</head>

<body background="media/pasto.jpg">
    <div class="wrapper fadeInDown">
        <div id="formContent" class="bg-dark">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <br>
            <img src="/media/logo.png" id="icon" alt="User Icon" />
            <br><br>
          </div>
      
          <!-- Login Form -->
          <form action="/users/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <input type="text" id="login" class="fadeIn second" name="usuario" placeholder="Usuario">
            <input type="password" id="password" class="fadeIn third" name="contraseña" placeholder="Contraseña">
            <% if (error) { %>
              <p style="color:red"><%= error %></p>
            <% } %>
            <input type="submit" class="fadeIn btn btn-secondary" value="Iniciar Sesión">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter" class="bg-dark">
            <a href="#"></a>
          </div>
      
        </div>
      </div>
</body>

</html>